.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  background-color: bisque;
}

input {
  display:block;
  margin:0 auto;
  margin-bottom: 0.5rem;

}

button{
  display:block;
  align-self: center;
  margin:0 auto;
  margin-bottom: 0.5rem;
}

label {
  display:block;
  align-self: center;
  margin:0 auto;
  margin-bottom: 0.5rem;
}



